# Python
__pycache__/
*.pyc

# Virtual env
venv/
ai/venv/

.pytest_cache/
# Angular frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/out-tsc/

# Backend
backend/node_modules/
backend/uploads/
# Logs
*.log

Thumbs.db


# Env files
.env

# OS junk
.DS_Store
